name: Release PR

on:
  push:
    branches: [main]

jobs:
  release-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          package-name: ct-events-load
          token: ${{ secrets.GITHUB_TOKEN }}